@import "./styles/import.css";

/* CSS RESET */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

/* PRIMARY SITE COLOR */

body {
  display: flex;
  flex-direction: column;
  background-color: var(--primary);
  width: 100vw;
}

/* HERO SECTION TITLE */

h1 {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;

  font-family: var(--font-title);
  font-size: var(--fs-h1);
  letter-spacing: -7px;
}

.hero__arrow {
  display: flex;
  position: absolute;
  justify-content: center;
  bottom: 2rem;
  height: 5rem;
  width: 100vw;
}

a {
  text-decoration: none;
  color: black;
}

/* COFFEE MENU */

.coffee_menu {
  display: flex;
  flex-flow: nowrap;
  margin: 5rem var(--spacing-menu);
  justify-content: center;
  gap: var(--gap-menu);
  align-items: center;
}

.coffe_menu__text {
  display: flex;
  flex-flow: column nowrap;
  width: var(--w-menu-coffee);
  height: var(--h-menu-coffee);
  justify-content: center;
}

.coffee_menu__text__maki {
  display: flex;
  flex-flow: column nowrap;
  width: var(--w-menu-coffee);
  height: var(--h-menu-coffee);
  justify-content: center;
}

.coffee_menu__title {
  font-family: var(--font-title);
  font-size: var(--fs-title);
  border-bottom: 1px solid black;
  white-space: nowrap;
}

.reverse {
  flex-flow: row-reverse;
}

ul {
  font-family: var(--font-text);
  font-size: var(--fs-md);
  background-color: transparent;
}

img {
  box-shadow: 5px 5px 50px -10px rgba(0, 0, 0, 50%);
  border-radius: 25px;
  max-height: 100%;
  width: auto;
}

/* ABOUT SECTION */

.about {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 9.5rem;
  margin: 5rem var(--spacing-menu);
  align-items: center;
}

.about__text {
  display: flex;
  flex-direction: column;
  white-space: wrap;

  width: 42.125rem;
  height: 30.125rem;
}

.about__text__title {
  font-family: var(--font-title);
  font-size: var(--fs-title);
  border-bottom: 1px solid black;
  white-space: nowrap;
}

.about__text__description {
  font-family: var(--font-text);
  font-size: var(--fs-l);
  overflow: scroll;
  scrollbar-width: thin;
  overflow-x: hidden;
}

/* OPENING HOURS */

.opening_hours {
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: left;
  margin: 3rem var(--spacing-menu);
}

.opening_hours__title {
  font-family: var(--font-title);
  font-size: var(--fs-title);
  width: fit-content;
}

table {
  text-decoration: none;
}

th,
td {
  font-weight: normal;
  border-bottom: 1px solid black;
  padding: 2rem;
}

.opening_hours__table {
  font-family: var(--font-text);
  font-size: var(--fs-l);
  margin-top: 1rem;
}
