.bounce2 {
  animation: bounce2 3s ease infinite;
}
@keyframes bounce2 {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.fade-down {
  animation: fade-down 1s;
}

@keyframes fade-down {
  0% {
    opacity: 0;
    transform: translateY(-30px) scale(1);
  }
  100% {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}

.fade-right {
  animation: fade-right 1s;
}
@keyframes fade-right {
  0% {
    opacity: 0;
    transform: translateX(-30px) scale(1);
  }
  100% {
    opacity: 1;
    transform: translateX(0px) scale(1);
  }
}
