:root {
  --font-title: "Instrument Serif";
  --font-text: "Manrope";
}

@font-face {
  font-family: "Instrument Serif";
  src: url(../assets/fonts/InstrumentSerif-Italic.ttf) format("truetype");
  font-style: normal;
  font-weight: 900;
  font-display: block;
}

@font-face {
  font-family: "Manrope";
  src: url(../assets/fonts/Manrope-VariableFont_wght.ttf) format("truetype");
  font-style: normal;
  font-weight: normal;
  font-display: block;
}
