:root {
  @media only screen and (max-width: 1100px) {
    /* MENU SECTION */

    img {
      display: block;
      margin: auto;

      max-width: 85%;
      height: auto;
      justify-content: center;
    }

    .coffee_menu {
      flex-flow: column nowrap;
      margin: 3rem;
      gap: 2rem;
      height: 100vh;
    }

    .coffee_menu__reverse {
      margin: 3rem;
      gap: 3rem;
      height: 100vh;
    }

    .coffe_menu__text {
      margin: 3rem;
      gap: 1rem;
      height: 100vh;
      width: 100%;
      height: auto;
    }

    .coffee_menu__text__maki {
      margin: 3rem;
      gap: 1rem;
      height: 100vh;
      width: 100%;
      height: auto;
    }

    .coffee_menu .coffee_menu__img {
      display: flex;
      justify-content: center;
    }

    .bg-color--coffee {
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-between;
    }

    /* ABOUT SECTION */

    .about {
      flex-flow: column nowrap;
      height: 100vh;
      justify-content: center;
      gap: 3rem;
    }

    .about__text {
      width: 100%;
      height: auto;
    }

    .about__text__description {
      font-size: var(--fs-md);
    }

    /* OPENING HOURS */

    .opening_hours {
      justify-content: center;
      width: 100%;
      height: auto;
      margin: 0;
      padding: 1rem;
    }

    th,
    td {
      font-size: var(--fs-base);
      padding: 0.5rem;
    }

    .opening_hours__title {
      padding-left: 0.5rem;
    }

    footer {
      margin: 0;
      justify-content: center;
    }
  }

  /* BACKGROUND IN MOBILE FORMAT */

  @media only screen and (min-width: 1101px) {
    .coffee_menu__paws img {
      display: none;
    }
  }
}
