:root {
	/* SPACING FOR LAYOUT */

	--spacing-menu: 14.6%; /* 281px */

	/* GAPS */

	--gap-menu: 20%; /* 286px */

	/* MENU LAYOUT */

	--w-menu-coffee: 33.5rem; /* 536px */
	--h-menu-coffee: 17.813rem; /* 285px */
	--w-about: 42.125rem; /* 674px */
	--h-about: 30.125rem; /* 482px */
}
